Repository xyzxyz442/2c2p-soft-arch-tech-asgmt: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, dotnet format --include

.lintstagedrc.json:

{
  "*.cs": ["prettier --write", "dotnet format --include"],
  "*.{json,md,yml}": ["prettier --write"]
}

feat(setup): add additional files missing from previous commit
  .czrc
  package.json
  pnpm-lock.yaml
Due: prettier --write

feat(setup): initialize C# project and its solution
  .vscode/settings.json
  2C2P.Services.sln
  src/2C2P.Services/Platform/Platform.API/Platform.API.csproj
  src/2C2P.Services/Platform/Platform.API/Platform.API.http
  src/2C2P.Services/Platform/Platform.API/Program.cs
  src/2C2P.Services/Platform/Platform.API/Properties/launchSettings.json
  src/2C2P.Services/Platform/Platform.API/appsettings.Development.json
  src/2C2P.Services/Platform/Platform.API/appsettings.json
Due: prettier --write, dotnet format --include

feat(setup): cleanup
  .lintstagedrc.json
  .vscode/settings.json
  package.json
  src/2C2P.Services/Platform/Platform.API/Program.cs
Due: prettier --write, dotnet format --include

feat(setup): complete initialize API project
  .vscode/launch.json
  .vscode/tasks.json
  src/2C2P.Services/Platform/Platform.API/Properties/launchSettings.json
  src/2C2P.Services/Platform/Platform.API/appsettings.json
Due: prettier --write

feat(setup): migrate minimal api to startup template with common modules
  Dev2C2P.Services.sln
  README.md
  src/2C2P.Services/Platform/Platform.API/Platform.API.csproj
  src/2C2P.Services/Platform/Platform.API/Platform.API.http
  src/2C2P.Services/Platform/Platform.API/Program.cs
  src/2C2P.Services/Platform/Platform.API/appsettings.Development.json
  src/2C2P.Services/Platform/Platform.API/appsettings.json
  src/Dev2C2P.Services/Platform/Platform.API/ApplicationSettings.cs
  src/Dev2C2P.Services/Platform/Platform.API/Extensions/StartupExtensions.cs
  src/Dev2C2P.Services/Platform/Platform.API/GlobalUsings.cs
  src/Dev2C2P.Services/Platform/Platform.API/Platform.API.csproj
  src/Dev2C2P.Services/Platform/Platform.API/Program.cs
  src/Dev2C2P.Services/Platform/Platform.API/Properties/launchSettings.json
  src/Dev2C2P.Services/Platform/Platform.API/Startup.cs
  src/Dev2C2P.Services/Platform/Platform.API/appsettings.json
Due: prettier --write, dotnet format --include

feat(docs): add request files for liveness and hc and its doc
  README.md
  requests/hc.http
  requests/liveness.http
Due: prettier --write

feat: implement transaction domain and its reference project
  Dev2C2P.Services.sln
  src/Dev2C2P.Services/Platform/Platform.Common/Enumeration.cs
  src/Dev2C2P.Services/Platform/Platform.Common/Platform.Common.csproj
  src/Dev2C2P.Services/Platform/Platform.Domain/Abstractions/Entity.cs
  src/Dev2C2P.Services/Platform/Platform.Domain/Abstractions/IIdentifiable.cs
  src/Dev2C2P.Services/Platform/Platform.Domain/GlobalUsings.cs
  src/Dev2C2P.Services/Platform/Platform.Domain/Platform.Domain.csproj
  src/Dev2C2P.Services/Platform/Platform.Domain/Transction.cs
Due: prettier --write, dotnet format --include

feat(setup): initialize common clean architecture structure
  src/Dev2C2P.Services/Platform/Platform.Application/Platform.Application.csproj
  src/Dev2C2P.Services/Platform/Platform.Contracts/Platform.Contracts.csproj
  src/Dev2C2P.Services/Platform/Platform.Infrastructure/Platform.Infrastructure.csproj
Due: none

feat: cleanup project
  .gitignore
  .vscode/launch.json
  requests/hc.http
  requests/liveness.http
  src/Dev2C2P.Services/Platform/Platform.API/GlobalUsings.cs
  src/Dev2C2P.Services/Platform/Platform.API/Platform.API.csproj
  src/Dev2C2P.Services/Platform/Platform.API/Properties/launchSettings.json
Due: prettier --write, dotnet format --include

feat: add endpoint to handle upload route with support multipart/formdata
  requests/test-12345.jpeg
  requests/upload.http
  src/Dev2C2P.Services/Platform/Platform.API/Endpoints/UploadEndpoint.cs
  src/Dev2C2P.Services/Platform/Platform.API/Extensions/StartupExtensions.cs
  src/Dev2C2P.Services/Platform/Platform.API/Platform.API.csproj
Due: prettier --write, dotnet format --include

feat: revise unsupported content-type error handling
  src/Dev2C2P.Services/Platform/Platform.API/Endpoints/UploadEndpoint.cs
Due: prettier --write, dotnet format --include

refactor: extract file validation logic
  src/Dev2C2P.Services/Platform/Platform.API/Endpoints/UploadEndpoint.cs
Due: prettier --write, dotnet format --include

feat: add file parsing logic
  src/Dev2C2P.Services/Platform/Platform.API/Endpoints/UploadEndpoint.cs
Due: prettier --write, dotnet format --include

refactor: update request file with actual xml and csv test files and cleanup
  requests/upload.http
  requests/upload/test.xml
  requests/upload/text-clean.csv
  requests/upload/text.csv
  requests/upload/upload.http
Due: none

feat: add parsing logic for xml and csv files and update error handling
  src/Dev2C2P.Services/Platform/Platform.API/Contracts/Csv/TransactionCsvDto.cs
  src/Dev2C2P.Services/Platform/Platform.API/Contracts/Xml/TransactionPaymentDetailsXmlDto.cs
  src/Dev2C2P.Services/Platform/Platform.API/Contracts/Xml/TransactionXmlDto.cs
  src/Dev2C2P.Services/Platform/Platform.API/Contracts/Xml/TransactionsXmlDto.cs
  src/Dev2C2P.Services/Platform/Platform.API/Endpoints/UploadEndpoint.cs
  src/Dev2C2P.Services/Platform/Platform.API/GlobalUsings.cs
  src/Dev2C2P.Services/Platform/Platform.API/Platform.API.csproj
Due: prettier --write, dotnet format --include

refactor: cleanup
  src/Dev2C2P.Services/Platform/Platform.API/Startup.cs
Due: prettier --write, dotnet format --include

feat: add global using in contracts project
  src/Dev2C2P.Services/Platform/Platform.Contracts/GlobalUsings.cs
Due: prettier --write, dotnet format --include

docs: update README.md
  README.md
Due: prettier --write

chore: add request files for upload
  requests/upload/test.csv
  requests/upload/test.jpeg
Due: none

feat: add postman collection file
  docs/api.postman_collection.json
Due: prettier --write

chore: cleanup
  docs/api.postman_collection.json
  requests/upload/upload.http
Due: prettier --write

feat: update entity abstraction and implement override function
  src/Dev2C2P.Services/Platform/Platform.Domain/Abstractions/Entity.cs
  src/Dev2C2P.Services/Platform/Platform.Domain/Transction.cs
Due: prettier --write, dotnet format --include

feat: cleanup missing last push
  src/Dev2C2P.Services/Platform/Platform.Domain/Transction.cs
Due: prettier --write, dotnet format --include

feat: add persistence layer implementation and abstraction components for transaction domain
  src/Dev2C2P.Services/Platform/Platform.Application/Abstractions/IEFRepository.cs
  src/Dev2C2P.Services/Platform/Platform.Application/Abstractions/ITransactionService.cs
  src/Dev2C2P.Services/Platform/Platform.Application/Abstractions/ITransctionRepository.cs
  src/Dev2C2P.Services/Platform/Platform.Application/GlobalUsings.cs
  src/Dev2C2P.Services/Platform/Platform.Infrastructure/DependencyInjection.cs
  src/Dev2C2P.Services/Platform/Platform.Infrastructure/EntityConfigurations/TransactionEntityTypeConfiguration.cs
  src/Dev2C2P.Services/Platform/Platform.Infrastructure/GlobalUsings.cs
  src/Dev2C2P.Services/Platform/Platform.Infrastructure/Persistences/EFDbContext.cs
  src/Dev2C2P.Services/Platform/Platform.Infrastructure/Persistences/EFRepository.cs
  src/Dev2C2P.Services/Platform/Platform.Infrastructure/Persistences/TransactionDbContext.cs
  src/Dev2C2P.Services/Platform/Platform.Infrastructure/Persistences/TransactionRepository.cs
  src/Dev2C2P.Services/Platform/Platform.Infrastructure/Platform.Infrastructure.csproj
  src/Dev2C2P.Services/Platform/Platform.Infrastructure/Services/TransactionService.cs
Due: prettier --write, dotnet format --include

feat: update project references
  Dev2C2P.Services.sln
  src/Dev2C2P.Services/Platform/Platform.API/Platform.API.csproj
  src/Dev2C2P.Services/Platform/Platform.Application/Platform.Application.csproj
Due: none

feat: add command implementation for import transaciton logic
  src/Dev2C2P.Services/Platform/Platform.Application/Abstractions/RequestBase.cs
  src/Dev2C2P.Services/Platform/Platform.Application/Abstractions/RequestHandlerBase.cs
  src/Dev2C2P.Services/Platform/Platform.Application/ApplicationSettings.cs
  src/Dev2C2P.Services/Platform/Platform.Application/DependencyInjection.cs
  src/Dev2C2P.Services/Platform/Platform.Application/Platform.Application.csproj
  src/Dev2C2P.Services/Platform/Platform.Application/Transactions/Commands/ImportTransactionCommand.cs
  src/Dev2C2P.Services/Platform/Platform.Application/Transactions/Commands/ImportTransactionCommandHandler.cs
  src/Dev2C2P.Services/Platform/Platform.Application/Transactions/TransactionAutofacModule.cs
Due: prettier --write, dotnet format --include

feat: cleanup domain transaction
  src/Dev2C2P.Services/Platform/Platform.Domain/Transction.cs
Due: prettier --write, dotnet format --include

feat: reorganize files structure
  src/Dev2C2P.Services/Platform/Platform.API/ApplicationSettings.cs
  src/Dev2C2P.Services/Platform/Platform.API/Endpoints/UploadEndpoint.cs
  src/Dev2C2P.Services/Platform/Platform.API/Extensions/StartupExtensions.cs
  src/Dev2C2P.Services/Platform/Platform.API/GlobalUsings.cs
  src/Dev2C2P.Services/Platform/Platform.API/Program.cs
  src/Dev2C2P.Services/Platform/Platform.API/Startup.cs
  src/Dev2C2P.Services/Platform/Platform.Contracts/Transactions/Dtos/Csv/TransactionCsvDto.cs
  src/Dev2C2P.Services/Platform/Platform.Contracts/Transactions/Dtos/Xml/TransactionPaymentDetailsXmlDto.cs
  src/Dev2C2P.Services/Platform/Platform.Contracts/Transactions/Dtos/Xml/TransactionXmlDto.cs
  src/Dev2C2P.Services/Platform/Platform.Contracts/Transactions/Dtos/Xml/TransactionsXmlDto.cs
Due: prettier --write, dotnet format --include

feat: add common component use in import logic
  src/Dev2C2P.Services/Platform/Platform.Common/ImportTransactionFileType.cs
  src/Dev2C2P.Services/Platform/Platform.Common/Result.cs
  src/Dev2C2P.Services/Platform/Platform.Contracts/Transactions/ImportTransactionDto.cs
Due: prettier --write, dotnet format --include

feat: complete endpoint for get transactions implementation
  src/Dev2C2P.Services/Platform/Platform.API/Endpoints/GetTransactionsEndpoint.cs
  src/Dev2C2P.Services/Platform/Platform.Application/Transactions/Queries/GetTransactionQuery.cs
  src/Dev2C2P.Services/Platform/Platform.Application/Transactions/Queries/GetTransactionQueryHandler.cs
  src/Dev2C2P.Services/Platform/Platform.Contracts/Platform.Contracts.csproj
  src/Dev2C2P.Services/Platform/Platform.Contracts/Transactions/Dtos/TransactionDto.cs
  src/Dev2C2P.Services/Platform/Platform.Contracts/Transactions/Endpoints/GetTransactionQueryParameters.cs
Due: prettier --write, dotnet format --include

feat: cleanup code
  src/Dev2C2P.Services/Platform/Platform.API/Endpoints/UploadEndpoint.cs
  src/Dev2C2P.Services/Platform/Platform.Application/Abstractions/RequestHandlerBase.cs
  src/Dev2C2P.Services/Platform/Platform.Application/Transactions/Commands/ImportTransactionCommand.cs
Due: prettier --write, dotnet format --include

feat: add validation for import transaction
  src/Dev2C2P.Services/Platform/Platform.API/Endpoints/UploadEndpoint.cs
  src/Dev2C2P.Services/Platform/Platform.Application/Behaviors/ValidationBehavior.cs
  src/Dev2C2P.Services/Platform/Platform.Application/DependencyInjection.cs
  src/Dev2C2P.Services/Platform/Platform.Application/GlobalUsings.cs
  src/Dev2C2P.Services/Platform/Platform.Application/Platform.Application.csproj
  src/Dev2C2P.Services/Platform/Platform.Application/Transactions/Commands/ImportTransactionCommandHandler.cs
  src/Dev2C2P.Services/Platform/Platform.Application/Transactions/Commands/ImportTransactionCommandValidator.cs
  src/Dev2C2P.Services/Platform/Platform.Contracts/Transactions/ImportTransactionDto.cs
Due: prettier --write, dotnet format --include

feat: add migration script and its implementation
  README.md
  nuget.config
  src/Dev2C2P.Services/Platform/Platform.API/Platform.API.csproj
  src/Dev2C2P.Services/Platform/Platform.API/Startup.cs
  src/Dev2C2P.Services/Platform/Platform.Infrastructure/DependencyInjection.cs
  src/Dev2C2P.Services/Platform/Platform.Infrastructure/EntityConfigurations/TransactionEntityTypeConfiguration.cs
  src/Dev2C2P.Services/Platform/Platform.Infrastructure/Migrations/20240804113938_InitialTransactionDbContext.Designer.cs
  src/Dev2C2P.Services/Platform/Platform.Infrastructure/Migrations/20240804113938_InitialTransactionDbContext.cs
  src/Dev2C2P.Services/Platform/Platform.Infrastructure/Migrations/TransactionDbContextModelSnapshot.cs
  src/Dev2C2P.Services/Platform/Platform.Infrastructure/Persistences/TransactionDbContext.cs
  src/Dev2C2P.Services/Platform/Platform.Infrastructure/Platform.Infrastructure.csproj
Due: prettier --write, dotnet format --include

feat: complete import logic to save to persistence
  src/Dev2C2P.Services/Platform/Platform.Application/Abstractions/ITransactionService.cs
  src/Dev2C2P.Services/Platform/Platform.Application/Abstractions/ITransctionRepository.cs
  src/Dev2C2P.Services/Platform/Platform.Application/Transactions/Commands/ImportTransactionCommand.cs
  src/Dev2C2P.Services/Platform/Platform.Application/Transactions/Commands/ImportTransactionCommandHandler.cs
  src/Dev2C2P.Services/Platform/Platform.Application/Transactions/Commands/ImportTransactionCommandValidator.cs
Due: prettier --write, dotnet format --include

feat: update abstraction for infrastructure code, domain and contract
  src/Dev2C2P.Services/Platform/Platform.Application/Abstractions/IEFRepository.cs
  src/Dev2C2P.Services/Platform/Platform.Contracts/Transactions/Dtos/TransactionDto.cs
  src/Dev2C2P.Services/Platform/Platform.Contracts/Transactions/ImportTransactionInput.cs
  src/Dev2C2P.Services/Platform/Platform.Domain/Abstractions/Entity.cs
  src/Dev2C2P.Services/Platform/Platform.Domain/Transction.cs
  src/Dev2C2P.Services/Platform/Platform.Infrastructure/DependencyInjection.cs
Due: prettier --write, dotnet format --include

feat: update migration script due to typo mistake
  src/Dev2C2P.Services/Platform/Platform.API/Endpoints/UploadEndpoint.cs
  src/Dev2C2P.Services/Platform/Platform.Infrastructure/Migrations/20240804115803_InitialTransactionDbContext.Designer.cs
  src/Dev2C2P.Services/Platform/Platform.Infrastructure/Migrations/20240804115803_InitialTransactionDbContext.cs
  src/Dev2C2P.Services/Platform/Platform.Infrastructure/Migrations/TransactionDbContextModelSnapshot.cs
Due: prettier --write, dotnet format --include

feat: add implementation in infrastructure layer with common CRUD operation (get, getById, update)
  src/Dev2C2P.Services/Platform/Platform.Infrastructure/Persistences/EFRepository.cs
  src/Dev2C2P.Services/Platform/Platform.Infrastructure/Persistences/TransactionRepository.cs
  src/Dev2C2P.Services/Platform/Platform.Infrastructure/Services/TransactionService.cs
Due: prettier --write, dotnet format --include

docs: cleanup
  README.md
Due: prettier --write

feat: complete dynamic filter combination between by currency, by date range, and by status
  src/Dev2C2P.Services/Platform/Platform.Application/Transactions/Queries/GetTransactionQueryHandler.cs
  src/Dev2C2P.Services/Platform/Platform.Contracts/Transactions/Dtos/TransactionDto.cs
Due: prettier --write, dotnet format --include

feat: add dockerfile, docker-compose definition
  docker-compose.yml
  src/Dev2C2P.Services/Platform/Platform.API/Dockerfile
Due: prettier --write
