Repository xyzxyz442/2c2p-soft-arch-tech-asgmt: changes, and which lint-staged commands are due for each by the changed paths.
All: dotnet format --include, prettier --write

.lintstagedrc.json:

{
  "*.cs": ["dotnet format --include"],
  "*.{json,md,yml}": ["prettier --write"]
}

docs: update README.md file for docker support
  README.md
Due: prettier --write

feat(setup): initialize web project for testing
  src/dev2c2p-web/.dockerignore
  src/dev2c2p-web/.editorconfig
  src/dev2c2p-web/.eslintrc.json
  src/dev2c2p-web/.gitignore
  src/dev2c2p-web/.prettierrc
  src/dev2c2p-web/Dockerfile
  src/dev2c2p-web/README.md
  src/dev2c2p-web/components.json
  src/dev2c2p-web/next.config.mjs
  src/dev2c2p-web/package.json
  src/dev2c2p-web/pnpm-lock.yaml
  src/dev2c2p-web/postcss.config.mjs
  src/dev2c2p-web/public/next.svg
  src/dev2c2p-web/public/vercel.svg
  src/dev2c2p-web/src/app/favicon.ico
  src/dev2c2p-web/src/app/globals.css
  src/dev2c2p-web/src/components/providers.tsx
  src/dev2c2p-web/src/lib/utils.ts
  src/dev2c2p-web/tailwind.config.ts
  src/dev2c2p-web/tsconfig.json
Due: prettier --write

feat: add endpoint and logic for upload and list transactions with error handling
  src/dev2c2p-web/src/app/api/transactions/route.ts
  src/dev2c2p-web/src/app/api/upload/route.ts
  src/dev2c2p-web/src/app/layout.tsx
  src/dev2c2p-web/src/app/page.tsx
Due: none

feat: add docker image for web
  docker-compose.yml
Due: prettier --write

chore: cleanup
  README.md
  src/dev2c2p-web/.gitignore
  src/dev2c2p-web/.npmrc
Due: prettier --write

refactor: revise error log handling for get transaction command handler
  src/Dev2C2P.Services/Platform/Platform.Application/Transactions/Queries/GetTransactionQueryHandler.cs
Due: dotnet format --include

feat: change error for parsing data in upload logic
  src/Dev2C2P.Services/Platform/Platform.API/Endpoints/UploadEndpoint.cs
Due: dotnet format --include

feat: update exported postman file
  docs/api.postman_collection.json
Due: prettier --write

feat: remove version column
  src/Dev2C2P.Services/Platform/Platform.Domain/Transction.cs
  src/Dev2C2P.Services/Platform/Platform.Infrastructure/EntityConfigurations/TransactionEntityTypeConfiguration.cs
  src/Dev2C2P.Services/Platform/Platform.Infrastructure/Migrations/20240804174457_InitialTransactionDbContext.Designer.cs
  src/Dev2C2P.Services/Platform/Platform.Infrastructure/Migrations/20240804174457_InitialTransactionDbContext.cs
  src/Dev2C2P.Services/Platform/Platform.Infrastructure/Migrations/TransactionDbContextModelSnapshot.cs
  src/Dev2C2P.Services/Platform/Platform.Infrastructure/Persistences/TransactionDbContext.cs
Due: dotnet format --include

docs: update document with architecture design
  README.md
  docs/class.jpeg
  docs/class_data.jpeg
  docs/dic.png
  docs/flowchart_get-transactions.jpeg
  docs/flowchart_upload.jpeg
  docs/layers.jpeg
  docs/overview.jpeg
Due: prettier --write

feat: add db script
  db/public.sql
Due: none

feat: rename connection string env, change port for api and db and disable volume mount
  docker-compose.yml
Due: prettier --write

chore: cleanup missing commit
  requests/transactions/get.http
  requests/upload/upload.http
Due: none

fix: filter is alway true due to first filter not apply another will combine default rule
  src/Dev2C2P.Services/Platform/Platform.Application/Transactions/Queries/GetTransactionQueryHandler.cs
Due: dotnet format --include

fix: typo error set wrong logger type in get transactions endpoint
  src/Dev2C2P.Services/Platform/Platform.API/Endpoints/GetTransactionsEndpoint.cs
Due: dotnet format --include

feat: add test project
  Dev2C2P.Services.sln
  test/Dev2C2P.Services/Platform.Tests/GlobalUsings.cs
  test/Dev2C2P.Services/Platform.Tests/Platform.Tests.csproj
Due: dotnet format --include

feat: add get transaction endpoint success case
  test/Dev2C2P.Services/Platform.Tests/GetTransactionsEndpointTests.cs
Due: dotnet format --include

feat: add get transaction query handler success case
  test/Dev2C2P.Services/Platform.Tests/GetTransactionsQueryHandlerTests.cs
Due: dotnet format --include

feat: transaction service success case for get async
  test/Dev2C2P.Services/Platform.Tests/TransactionServiceTests.cs
Due: dotnet format --include

refactor: cleanup
  test/Dev2C2P.Services/Platform.Tests/GetTransactionsEndpointTests.cs
Due: dotnet format --include
